.Producer-Name {
  font-size: 13px;
  line-height: 0px;
}

.Orange-To-Blue {
  color: rgb(0, 102, 192);
}

.Orange-To-Blue:hover {
  color: rgb(196, 85, 0);
  text-decoration: underline;
  cursor: pointer;
}