.Star-Modal {
  background-color: #fff;
  display: none;
  z-index: 2;
  position: absolute;
  width: 325px;
  border: solid;
  border-radius: 4px;
  border-width: .5px;
  border-color: lightgray;
  box-shadow: 0 4px 2px -2px lightgray;
  padding: 15px;
}

.Star-Rating-Out-Of {
  font-size: 17px;
}

.Star-Modal-Number-Of-Ratings {
  font-size: 13px;
  color: #555;
}

.Star-Bar-Container {
  padding-top: 6px;
  text-align: left;
  line-height: 19px;
}

.Orange-To-Blue {
  color: rgb(0, 102, 192);
}

.Orange-To-Blue:hover {
  color: rgb(196, 85, 0);
  text-decoration: underline;
  cursor: pointer;
}

.Star-Bar-Number-Of-Stars {
  float: left;
}

.See-Customer-Reviews {
  text-align: center;
}

.Stars {
  background: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIIcon-sprite_2x-59b95eac1db4a9d78e1e0c0b657cf66277a106ae._V2_.png);
  width: 80px;
  height: 18px;
  background-size: 400px 900px;
  display: inline-block;
  vertical-align: top;
}

.Star-Bar {
  /* text-align: left; */
  display: inline-block;
  height: 14px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.4), inset 0 0 0 1px rgba(0,0,0,.1);
  background: linear-gradient(to bottom,#eee,#f6f6f6);
  border: 0 solid lightgrey;
  border-radius: 1px;
  vertical-align: top;
  margin-left: 20px;
  padding-left: 85px;
  padding-right: 140px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.Star-Progress-Bar {
  border: solid;
  border-width: .5px;
  border-color: #b8862e;
  box-sizing: border-box;
  float: left;
  position: absolute;
  border: 1 solid;
  /* display: flex; */
  height: 5.5%;
  margin-left: -84px;
  margin-top: -1px;
  /* vertical-align: middle;
  padding: 10px; */
  /* padding-left: 100px;
  margin-bottom: 5px; */
  border-radius: 1px;
  float: left;
  background: linear-gradient(to bottom,#ffce00,#ffa700);
}

.Star-Percentage {
  float: right;
}